/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: white;
	height: 100%;
}

/* Set profile img center and rounded */
.profileimg{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	border-radius: 50%;
}

/* Set user info bar*/
.user-info {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.6em;
  padding-bottom: 1.35em;
}

.user-info li {
  border-left: solid 2px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.8em;
  text-align: center;
  width: 32%;
}
.user-info li:first-child {
  border: none;
}
.user-info li span {
  color: rgba(0, 0, 0, 0.4);
  display: block;
  font-size: 1em;
  font-weight: 700;
  margin-top: .2em;
}

/*For showing posts*/
.squaretop {
  height: 100px;
  width: 600px;
  background-color: lavender;
  text-align: left;
  
}
.squaremid {
  height: 330px;
  width: 600px;
  background-color: ghostwhite;
  text-align: left;
  padding-right:20px;
  
 
 
}
.squarebot {
  height: 50px;
  width: 600px;
  background-color: ghostwhite;
  text-align: left;
  
}
.nextimg {
  float: left;
  margin-right: 20px;
}

/* Set black background color, white text and some padding */
.footer {
	background-color: #555;
	color: white;
	padding: 15px;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 50px;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;            /* Footer height */
}


