<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FoodieFeed</display-name>
  <welcome-file-list>
    <welcome-file>userlogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ReviewController</display-name>
    <servlet-name>ReviewController</servlet-name>
    <servlet-class>com.mie.controller.ReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewController</servlet-name>
    <url-pattern>/ReviewController</url-pattern>
  </servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.mie.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TagController</display-name>
    <servlet-name>TagController</servlet-name>
    <servlet-class>com.mie.controller.TagController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TagController</servlet-name>
    <url-pattern>/TagController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentController</display-name>
    <servlet-name>CommentController</servlet-name>
    <servlet-class>com.mie.controller.CommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentController</servlet-name>
    <url-pattern>/CommentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchControllerTag</display-name>
    <servlet-name>SearchControllerTag</servlet-name>
    <servlet-class>com.mie.controller.SearchControllerTag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchControllerTag</servlet-name>
    <url-pattern>/SearchControllerTag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchControllerUser</display-name>
    <servlet-name>SearchControllerUser</servlet-name>
    <servlet-class>com.mie.controller.SearchControllerUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchControllerUser</servlet-name>
    <url-pattern>/SearchControllerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.mie.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.mie.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
</web-app>